
{% extends 'front/front_signbase.html' %}
{% from 'common/_macros.html' import static %}

{% block title %}
修改密码
{% endblock %}

{% block head %}
<script src="{{ static('front/js/front_updatepwd.js') }}"></script>

{% endblock %}

{% block h2_block %}
{{ self.title() }}
{% endblock %}

{% block signbox %}

   <div class="form-group">
       <div class="input-group">
           <input type="password" style="width:300px;" class="form-control" name="password1" placeholder="请新输入密码">
       </div>
   </div>
   <div class="form-group">
       <div class="input-group">
           <input type="password" style="width:300px;" class="form-control" name="password2" placeholder="请确认新密码">
       </div>
   </div>

   <div class="form-group">
       <button class="btn btn-warning btn-block" id="submit-btn">
           立即修改
       </button>

   </div>
{% endblock %}